[Desktop Entry]
Name=Cursor
Type=Application
Terminal=false
Exec=cursor --open-url %u  --password-store="gnome-libsecret"
MimeType=x-scheme-handler/cursor;
Categories=Development;IDE;
