[Desktop Entry]
Type=Application
Name=Stacher
GenericName=Download Manager
Comment=Download manager application
Exec=/home/r/common/bin/stacher/Stacher7-x86_64.AppImage %U
TryExec=/home/r/common/bin/stacher/Stacher7-x86_64.AppImage
Path=/home/r/common/bin/stacher
Icon=stacher
Terminal=false
StartupNotify=true
StartupWMClass=stacher
Categories=Network;
Keywords=download;manager;downloader;

