[Desktop Entry]
Type=Application
Name=v2rayN
GenericName=Proxy Client
Comment=v2rayN GUI Client
Exec=/home/r/common/bin/v2rayN/v2rayN
TryExec=/home/r/common/bin/v2rayN/v2rayN
Path=/home/r/common/bin/v2rayN
Icon=/home/r/common/bin/v2rayN/v2rayN.png
Terminal=false
StartupNotify=true
Categories=Network;X-Internet;

